<span id="online-count" hx-swap-oob="outerHTML" class="pr-1 fade-in-scale">
    {{ online_count }}

<style>
    @keyframes fadeInScale {
        from {
            opacity: 0;
            transform: scale(4);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }

    @keyframes BoxShadow {
        0% {
            box-shadow: 0px 0px 0px green;
        }
        25% {
            box-shadow: 0px 0px 5px green;
        }
        50% {
            box-shadow: 0px 0px 20px green;
        }
        75% {
            box-shadow: 0px 0px 5px green;
        }
        100% {
            box-shadow: 0px 0px 0px green;
        }
    }

    .box-shadow-anime {
        animation: BoxShadow 1.75s ease-in-out infinite;
    }

    .fade-in-scale {
        animation: fadeInScale 0.6s ease;
    }
</style>
</span>
{% if online_count %}
    <div id="online-icon" class="w-3 h-3 mt-1.5 rounded-full green-dot p-1.5 box-shadow-anime"></div>
{% else %}
    <div id="online-icon" class="w-3 h-3 mt-1.5 rounded gray-dot p-1.5"></div>
{% endif %}



<ul id="groupchat-members" class="flex gap-4">
    {% for member in groupchat.members.all %}
        <li><a href="{% url 'profile' member.username %}"
               class="flex flex-col text-gray-400 items-center justify-center w-20 gap-2">
            <div class="relative">
                {% if member in groupchat.members.all %}
                    <div id="online-icon" class="green-dot border-2 border-gray-800 absolute bottom-0 right-0"></div>
                {% else %}
                    <div id="online-icon" class="gray-dot border-2 border-gray-800 absolute bottom-0 right-0"></div>
                {% endif %}
                <img src="{{ member.profile.avatar }}" class="w-14 h-14 rounded-full object-cover"
                     alt="">
            </div>
            {{ member.profile.name|slice:":10" }}
        </a></li>
    {% endfor %}
</ul>
